@keyframes show-toast{
  0% {bottom: -100% }
  20% {bottom: 100px}
  80% {bottom: 100px}
  100% {bottom: -100%}
}

.show-notification{
  position: fixed;
  bottom: 100%;
  right: 20px;
  animation-name: show-toast;
  animation-duration: 8s;
  z-index: 99;
}



table > tbody > tr > td{
  border: none !important;
}


.payment-method [type=radio]{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.payment-method [type=radio]+img{
  cursor: pointer;
  padding: 5px;
  /* margin-right: 10px; */
}

.payment-method [type=radio]:checked+img{
  border: 1px solid red
}
